BIRDCAST_EURO_OBJECT_STORE_BUCKET=uk-wsr-visualizer-public
BIRDCAST_EURO_OBJECT_STORE_ENDPOINT=http://ncas-radar-o.s3.jc.rl.ac.uk
BIRDCAST_EURO_AWS_PROFILE=ncas-radar-o
BIRDCAST_EURO_OBJECT_PREFIX=birdcast-euro/data
BIRDCAST_EURO_ARTIFACT_ROOT=/opt/birdcast-euro/artifacts-current
BIRDCAST_EURO_STAGE_ROOT=/opt/birdcast-euro/staged-artifacts
BIRDCAST_EURO_PUBLIC_HOST=130.246.212.190
BIRDCAST_EURO_PUBLIC_USER=azimuth
BIRDCAST_EURO_PUBLIC_STAGE_ROOT=/opt/birdcast-euro/staged-artifacts
