[Unit]
Description=Plan UK BirdCast Object Store publication hourly

[Timer]
OnBootSec=10min
OnUnitActiveSec=15min
Persistent=true

[Install]
WantedBy=timers.target
